<!doctype html>
<html>
<head>
    <title>テストアプリ</title>
</head>
<body>

<h2>{{ min_date }} ~ {{ max_date }}の売り上げデータ</h2>
<br>

<table border="1">
    <tr>
        <td>index</td>
        {% for columns, item in total.iteritems %}
        <th>{{ columns }}</th>
        {% endfor %}
    </tr>
    {% for index, rows in total.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>

<h2>月別売上</h2>
<br>

<table border="1">
    {% for index, rows in monthly_sale.iteritems %}
    <tr>
        <th>{{ index }}</th>
        <td>{{ rows }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h2>年間商品別売上</h2>
<br>
<table border="1">

    <tr>
        <th colspan="7">price</th>
        <th colspan="6">quantity</th>
    </tr>
    <tr>
        <th colspan="1">payment_month</th>
        {% for index, rows in monthly_sale.iteritems %}
        <th>
            {{ index }}
        </th>
        {% endfor %}
        {% for index, rows in monthly_sale.iteritems %}
        <th>
            {{ index }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        <th colspan="1">item_name</th>
        <th colspan="12"></th>
    </tr>
    {% for index, rows in annual_sale.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<h1>商品別売上</h1>
{% load static %}
<img src="{% static 'images/graph.png' %}" width="600px">

<!-- 読み込んだCSVファイルをテーブル形式で表示 -->
<p>結果: {{ data_num }}件 {{ message }}</p>
<table border="1">
    <tr>
        <td>index</td>
        {% for columns, item in df.iteritems %}
        <th>{{ columns }}</th>
        {% endfor %}
    </tr>
    {% for index, rows in df.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>