<!doctype html>
<html>
<head>
    <title>テストアプリ</title>
</head>
<body>

<h2>{{ min_date }} ~ {{ max_date }}の売り上げデータ</h2>
<br>

<table border="1">
    <tr>
        <td>index</td>
        {% for columns, item in total.iteritems %}
        <th>{{ columns }}</th>
        {% endfor %}
    </tr>
    {% for index, rows in total.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>

<h2>月別売上</h2>
<br>

<table border="1">
    {% for index, rows in monthly_sale.iteritems %}
    <tr>
        <th>{{ index }}</th>
        <td>{{ rows }}</td>
    </tr>
    {% endfor %}
</table>
<br>


<!-- 読み込んだCSVファイルをテーブル形式で表示 -->
<p>結果: {{ data_num }}件 {{ message }}</p>
<table border="1">
    <tr>
        <td>index</td>
        {% for columns, item in df.iteritems %}
        <th>{{ columns }}</th>
        {% endfor %}
    </tr>
    {% for index, rows in df.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>