{% extends 'base.html' %}
{% block content %}
    <h1>練習8</h1>
    <ul>
      <li>{{ num }}</li>
      <li>{{ name }}</li>
      <li>{{ is_ok }}</li>
    </ul>
    <h1>練習10</h1>
    <ul>
      <li>{{ sqrt }}</li>
      <li>{{ log2 }}</li>
    </ul>
    <h1>練習11</h1>
    <ul>
      <li>{{ helo1 }}</li>
      <li>{{ helo2 }}</li>
      <li>{{ say1 }}</li>
      <li>{{ say2 }}</li>
      <li>{{ say3 }}</li>
      <li>{{ say4 }}</li>
      <li>{{ say5 }}</li>

      <li>{{ dir }}</li>

      <li>{{ line }}</li>
      <li>{{ hi }}</li>
      <li>{{ long_string }}</li>
    </ul>
    <h1>練習12</h1>
    <ul>
      <li>{{ slice1 }}</li>
      <li>{{ slice2 }}</li>
      <li>{{ slice3 }}</li>
      <li>{{ slice4 }}</li>
      <li>{{ slice5 }}</li>
      <li>{{ slice6 }}</li>
      <li>{{ slice7 }}</li>
      <li>{{ slice8 }}</li>
      <li>{{ slice9 }}</li>
      <li>{{ slice10 }}</li>
      <li>{{ slice11 }}</li>
    </ul>
    <h1>練習13</h1>
    <ul>
      <li>{{ str_method1 }}</li>
      <li>{{ str_method2 }}</li>
      <li>{{ str_method3 }}</li>
      <li>{{ str_method4 }}</li>
      <li>{{ str_method5 }}</li>
      <li>{{ str_method6 }}</li>
      <li>{{ str_method7 }}</li>
      <li>{{ str_method8 }}</li>
      <li>{{ str_method9 }}</li>
      <li>{{ str_method10 }}</li>
    </ul>
    <h1>練習14</h1>
    <ul>
      <li>{{ str_format1 }}</li>
      <li>{{ str_format2 }}</li>
      <li>{{ str_format3 }}</li>
      <li>{{ str_format4 }}</li>
      <li>{{ str_format5 }}</li>
      <li>{{ str_format6 }}</li>
      <li>{{ str_format7 }}</li>
      <li>{{ str_format8 }}</li>
    </ul>
    <h1>練習15</h1>
    <ul>
      <li>{{ str_format9 }}</li>
      <li>{{ str_format10 }}</li>
      <li>{{ str_format11 }}</li>
    </ul>
{% endblock %}
