<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>tupleの練習</title>
    </head>
    <body>
        <form action="/practice/tuple" method="post">
            {% csrf_token %}
            <p>{{ question }}</p>
            {% if chose_from_two %}
            <ul>
                {% for chose_item in chose_from_two %}
                <li>{{ chose_item }}</li>
                {% endfor %}
            </ul>
                {% endif %}
            <div>
                <label for="answer">結果</label>
                <input type="text" id="answer" name="answer" value="{{ answer }}">
            </div>
            <div>
                <label>{{ message }}</label>
            </div>
            <input type="submit" value="送信する">
        </form>
    </body>
</html>






