{% extends 'base.html' %}
{% block content %}

<h2>{{ min_date }} ~ {{ max_date }}の売り上げデータ</h2>
<br>

<table class="table list-table table-striped">
    <thead class="thead-dark">
        <tr>
            <th></th>
            {% for columns, item in total.iteritems %}
            <th>{{ columns }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for index, rows in total.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>

<h2>月別売上</h2>
<br>
<table class="table list-table table-striped">
    {% for index, rows in monthly_sale.iteritems %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ rows }}</td>
        </tr>
    {% endfor %}
</table>
<br>

<h2>年間商品別売上</h2>
<br>
<table class="table list-table table-striped">
    <thead class="thead-dark">
        <tr>
            <th colspan="7">price</th>
            <th colspan="6">quantity</th>
        </tr>
    </thead>
    <tr>
        <th colspan="1">payment_month</th>
        {% for index, rows in monthly_sale.iteritems %}
        <th>
            {{ index }}
        </th>
        {% endfor %}
        {% for index, rows in monthly_sale.iteritems %}
        <th>
            {{ index }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        <th colspan="1">item_name</th>
        <th colspan="12"></th>
    </tr>
    {% for index, rows in annual_sale.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<h1>商品別売上</h1>
{% load static %}
<img src="{% static 'images/sale/graph.png' %}" width="600px">

<!-- 読み込んだCSVファイルをテーブル形式で表示 -->
<p>結果: {{ data_num }}件 {{ message }}</p>
<table class="table list-table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>index</th>
            {% for columns, item in df.iteritems %}
            <th>{{ columns }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for index, rows in df.iterrows %}
    <tr>
        <th>{{ index }}</th>
        {% for row in rows %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}